{% load staticfiles %}
<!--
	<footer id="wrapper" style="background-color:#808080;">
	<p>Posted by: Hege Refsnes</p>
	  <p>Contact information: <a href="mailto:hueieglobal@gmail.com">hueieglobal@gmail.com</a>.</p>
    </footer>
-->

    <!-- jQuery -->
    <script src="{% static "possys/vendor/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "possys/vendor/bootstrap/js/bootstrap.min.js" %}" ></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "possys/vendor/metisMenu/metisMenu.min.js" %}"></script>
    <!-- Custom Theme JavaScript -->
    
   