{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POS SYSTEM</title>

	
    <!-- Bootstrap Core CSS -->
    <link href="{% static "possys/vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{% static "possys/vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "possys/dist/css/definic.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "possys/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!-- Morris Charts CSS -->
    <link href="{% static "possys/vendor/morrisjs/morris.css" %}" rel="stylesheet">
	<script src="{% static "possys/dist/js/definic.js" %}"></script>
    
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/possys/">POS SYSTEM</a>
                <a id="leftbarfadein" style="display:inline;"class="navbar-brand" href="javascript:leftbarfadein();"><i class="fa fa-bars"></i></a>
            </div>
            {% include "navbar_top.html" %}

			<div id="leftbar" class="leftbar leftbar-fadeout">
			{% include "navbar_left.html" %}
			</div>
        </nav>
        <div id="page-wrapper" class="page-leftbar-fadeout">
        	{% if submenu == "index" %}
	        	{% include "possys/index.html" %}
        	{% elif submenu == "inventory" %}
				{% include "backstage/inventory.html" %}
			{% elif submenu == "transaction" %}
				{% include "backstage/transaction.html" %}	
			{% elif submenu == "item" %}
				{% include "backstage/item.html" %}	
			{% elif submenu == "itemcategory" %}
				{% include "backstage/itemcategory.html" %}		
        	{% else %}
	        	No Pages
        	{% endif %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% include "footer.html" %}
	
</body>
</html>
