{% load staticfiles %}

<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">{{ mainmenu }} > {{ submenu }}</h3>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<form action="/invest/datascience/neuralnetwork/" method="get" >
			<span>Stock Code : </span>
			
			<select name="pStock_code" id="pStock_code">
  				{% for row in pCodelist %}
  					<option value="{{ row }}" {% if row == pStock_code %} selected="selected" {% endif %} >
  					{{ row }}</option>
  				{% endfor %}
			</select>
			<input type="submit" value="submit" >
		</form>
		
		<br>
		<table style="width:100%;border:solid 1px white;" >
			<tr>
				<td style="width:25%"> train </td>
				<td style="width:25%"> test </td>
				<td style="width:25%"> fit </td>
				<td style="width:10%"> nodeshape </td>
				<td style="width:5%"> score </td>
				<td style="width:5%"> hitratio </td>
				<td style="width:5%"> mse </td>
			</tr>
			<tr>
				<td> {{ train }} </td>
				<td> {{ test }} </td>
				<td> {{ fit }} </td>
				<td> {{ nodeshape }} </td>
				<td> {{ score }} </td>
				<td> {{ hitratio }} </td>
				<td> {{ mse }} </td>
			</tr>
		</table>	
			
	</div>
</div>

