{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DEFINIC</title>

	
    <!-- Bootstrap Core CSS -->
    <link href="{% static "invest/vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{% static "invest/vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "invest/dist/css/definic.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "invest/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!-- Morris Charts CSS -->
    <link href="{% static "invest/vendor/morrisjs/morris.css" %}" rel="stylesheet">
	<script src="{% static "invest/dist/js/definic.js" %}"></script>
    
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/invest/">Definic</a>
                <a id="leftbarfadein" style="display:none;"class="navbar-brand" href="javascript:leftbarfadein();"><i class="fa fa-bars"></i></a>
            </div>
            {% include "navbar_top.html" %}

			<div id="leftbar" class="leftbar leftbar-fadein">
			{% include "navbar_left.html" %}
			</div>
        </nav>
        <div id="page-wrapper" class="page-leftbar-fadein">
        	{% if submenu == "index" %}
	        	Index
        	{% elif submenu == "lineargraph"%}
				{% include "statistics/lineargraph.html" %}
        	{% elif submenu == "regression"%}
				{% include "datascience/regression.html" %}
        	{% elif submenu == "datawarehouse"%}
				{% include "backstage/datawarehouse.html" %}
			{% elif submenu == "alphamodel"%}
				{% include "middlestage/alphamodel.html" %}	
        	{% elif submenu == "portfoliobuilder"%}
				{% include "frontstage/portfoliobuilder.html" %}	
        	{% else %}
	        	No Pages
        	{% endif %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% include "footer.html" %}
	
</body>
</html>
