{% load staticfiles %}

<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">{{ mainmenu }} > {{ submenu }}</h3>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<form action="/possys/backstage/datawarehouse/insertInventoryToDB/" method="get" name="insertInventoryToDBForm">
			<span>In_out : </span>
			IN
			<input type="radio" name="pIn_out" value="1" {% if pIn_out == "1" or pIn_out == None %} checked="checked" {% endif %} >
			 / OUT 
			<input type="radio" name="pIn_out" value="2" {% if pIn_out == "2" %} checked="checked" {% endif %} >
			<span> From / To : </span>
			<input type="text" name="pFrom_to" value="{{ pFrom_to }}" >
			<span>Item_id : </span>
			<input type="text" name="pItem_id" value="{{ pItem_id }}" >
			<span>Expense : </span>
			<input type="text" name="pExpense" value="{{ pExpense }}" >
			<span>Quantity : </span>
			<input type="text" name="pQuantity" value="{{ pQuantity }}" >
			<span>Date : </span>
			<input type="text" name="pDate" value="{{ pDate }}" >
			<input type="submit"  value="submit">
		</form>
		<br>
		<table style="width:100%;border:solid 1px white;" >
			<tr>
				<td style="width:10%">In_out</td>
				<td style="width:10%">From_to</td>
				<td style="width:10%">Item_id</td>
				<td style="width:10%">Expense</td>
				<td style="width:10%">Quantity</td>
				<td style="width:10%">Date</td>
			</tr>
			{% for row in pDataWareHouseModel %}
			<tr>
				<td> {% if row.In_out == "1" %} in {% elif row.In_out == "2" %} out {% endif %}</td>
				<td> {{ row.From_to }} </td>
				<td> {{ row.Item_id }} </td>
				<td> {{ row.Expense }} </td>
				<td> {{ row.Quantity }} </td>
				<td> {{ row.Date }} </td>
			</tr>
			{% endfor %}
		</table>	
			
	</div>
</div>

