{% load staticfiles %}
<div class="navbar-default sidebar " role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			{% if mainmenu == "possys" %}
				<li>
					<a style="display:inline;">possys</a>
					<a style="display:inline;" id="leftbarfadeout" href="javascript:leftbarfadeout();"><i class="fa fa-bars"></i></a>
				</li>
        	{% elif mainmenu == "backstage" %}
	        	<li>
					<a style="display:inline;">Back Stage</a>
					<a style="display:inline;" id="leftbarfadeout" href="javascript:leftbarfadeout();"><i class="fa fa-bars"></i></a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="/possys/backstage/datawarehouse/">Data Warehouse</a>
				</li>
				<li>
					<a href="/possys/backstage/backtester/" >Back Tester</a>
				</li>
        	{% endif %}
		</ul>
	</div>
</div>