			<ul class="nav navbar-top-links navbar-left">
				<!-- Back Stage Start -->
				<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span>Back Stage</span> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-back">
                        <li>
                            <a href="/possys/backstage/inventory/">
                                <div>
                                    <strong>Inventory</strong>
                                    <span class="pull-right text-muted">
                                        <em></em>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/possys/backstage/item/">
                                <div>
                                    <strong>Item</strong>
                                    <span class="pull-right text-muted">
                                        <em></em>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/possys/backstage/itemcategory/">
                                <div>
                                    <strong>Itemcategory</strong>
                                    <span class="pull-right text-muted">
                                        <em></em>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/possys/backstage/transaction/">
                                <div>
                                    <strong>Transaction</strong>
                                    <span class="pull-right text-muted">
                                        <em></em>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <!-- Back Stage End -->
				
            </ul>