{% load staticfiles %}

<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">{{ mainmenu }} > {{ submenu }}</h3>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<form action="/possys/frontstage/portfoliobuilder/" method="get" >
			<span>Stock Code : </span>
			
			<select name="pStock_code" id="pStock_code">
  				{% for row in pCodelist %}
  					<option value="{{ row }}" {% if row == pStock_code %} selected="selected" {% endif %} >
  					{{ row }}</option>
  				{% endfor %}
			</select>
			<input type="submit" value="submit" >
		</form>
		<br>
		<table style="width:100%;border:solid 1px white;" >
			<tr>
				<td style="width:10%"> df_stationarity </td>
				<td style="width:10%"> df_rank </td>
				<td style="width:20%"> stationarity_codes </td>
				<td style="width:20%"> df_machine_result </td>
				<td style="width:20%"> df_machine_rank </td>
				<td style="width:20%"> machine_codes </td>
			</tr>
			{% for row in pPortfolioBuilderModel %}
			<tr>
				<td> {{ row.df_stationarity }} </td>
				<td> {{ row.df_rank }} </td>
				<td> {{ row.stationarity_codes }} </td>
				<td> {{ row.df_machine_result }} </td>
				<td> {{ row.df_machine_rank }} </td>
				<td> {{ row.machine_codes }} </td>
			</tr>
			{% endfor %}
		</table>	
			
	</div>
</div>

